sec02.docker.compose/lec06.mongo.express/data/_mdb_catalog.wt
sec02.docker.compose/lec06.mongo.express/data/collection-0--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/collection-0-7463161717830426042.wt
sec02.docker.compose/lec06.mongo.express/data/collection-2--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/collection-2-7463161717830426042.wt
sec02.docker.compose/lec06.mongo.express/data/collection-4--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/collection-7--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/index-1--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/index-1-7463161717830426042.wt
sec02.docker.compose/lec06.mongo.express/data/index-3--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/index-3-7463161717830426042.wt
sec02.docker.compose/lec06.mongo.express/data/index-5--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/index-6--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/index-8--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/index-9--2007348465388009840.wt
sec02.docker.compose/lec06.mongo.express/data/mongod.lock
sec02.docker.compose/lec06.mongo.express/data/sizeStorer.wt
sec02.docker.compose/lec06.mongo.express/data/storage.bson
sec02.docker.compose/lec06.mongo.express/data/WiredTiger
sec02.docker.compose/lec06.mongo.express/data/WiredTiger.lock
sec02.docker.compose/lec06.mongo.express/data/WiredTiger.turtle
sec02.docker.compose/lec06.mongo.express/data/WiredTiger.wt
sec02.docker.compose/lec06.mongo.express/data/WiredTigerHS.wt
sec02.docker.compose/lec06.mongo.express/data/.mongodb/mongosh/65a66490cfb95a35f0eb9c1c_log
sec02.docker.compose/lec06.mongo.express/data/.mongodb/mongosh/65a66491f5aba87df7576ecc_log
sec02.docker.compose/lec06.mongo.express/data/.mongodb/mongosh/config
sec02.docker.compose/lec06.mongo.express/data/.mongodb/mongosh/mongosh_repl_history
sec02.docker.compose/lec06.mongo.express/data/.mongodb/mongosh/snippets/package.json
sec02.docker.compose/lec06.mongo.express/data/diagnostic.data/metrics.2024-01-16T11-12-16Z-00000
sec02.docker.compose/lec06.mongo.express/data/diagnostic.data/metrics.2024-01-16T11-12-30Z-00000
sec02.docker.compose/lec06.mongo.express/data/diagnostic.data/metrics.2024-01-16T11-15-45Z-00000
sec02.docker.compose/lec06.mongo.express/data/diagnostic.data/metrics.interim
sec02.docker.compose/lec06.mongo.express/data/journal/WiredTigerLog.0000000003
sec02.docker.compose/lec06.mongo.express/data/journal/WiredTigerPreplog.0000000001
sec02.docker.compose/lec06.mongo.express/data/journal/WiredTigerPreplog.0000000002
